{% load static %}
<script src="{% static 'js/jquery.min.js'%}"></script>
<script src="{% static 'js/bootstrap.bundle.min.js'%}"></script>
<script src="{% static 'js/moment.js'%}"></script>


<!-- *************
    ************ Vendor Js Files *************
************* -->

<!-- Apex Charts -->
<script src="{% static 'vendor/apex/apexcharts.min.js'%}"></script>
<script src="{% static 'vendor/apex/examples/mixed/hospital-line-column-graph.js'%}"></script>
<script src="{% static 'vendor/apex/examples/mixed/hospital-line-area-graph.js'%}"></script>
<script src="{% static 'vendor/apex/examples/bar/hospital-patients-by-age.js'%}"></script>

<!-- Rating JS -->
<script src="{% static 'vendor/rating/raty.js'%}"></script>
<script src="{% static 'vendor/rating/raty-custom.js'%}"></script>

<!-- Main Js Required -->
<script src="{% static 'js/main.js'%}"></script>
