{% load static %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Meta -->
    <meta name="description" content="Responsive Bootstrap4 Dashboard Template">
    <meta name="author" content="ParkerThemes">
    <link rel="shortcut icon" href="{% static 'img/fav.png'%}" />

    <!-- Title -->
    <title>Internet Banking</title>


    <!-- *************
        ************ Common Css Files *************
        ************ -->
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css'%}" />
    <link rel="stylesheet" href="{% static 'fonts/style.css'%}">

    <!-- Main CSS -->
    <link rel="stylesheet" href="{% static 'css/main.css'%}" />

</head>