{% load static %}
<!doctype html>
<html lang="en">
{% include 'head.html' %}
<body>

<!-- Loading starts -->
{% include 'preloader.html' %}
<!-- Loading ends -->


<!-- *************
    ************ Header section start *************
************* -->


<!-- Header start -->
{% include 'header.html' %}
<!-- Header end -->

<!-- *************
    ************ Header section end *************
************* -->


<div class="container-fluid">


    <!-- Navigation start -->
    {% include 'nav.html' %}
    <!-- Navigation end -->


    <!-- *************
        ************ Main container start *************
    ************* -->
    <div class="main-container">


        <!-- Page header start -->
        <div class="page-header">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active"> Welcome {{ user.last_name }}</li>
            </ol>
            <div class="site-award">
                <img src="{% static 'img/award.png'%}" alt="Award"> Easy Banking
            </div>
        </div>
        <!-- Page header end -->


        <!-- Content wrapper start -->
        <div class="content-wrapper">

            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12">
                    <a href="/account/book_loan">
                        <div class="hospital-tiles primary">
                            <img src="{% static 'img/hospital/loan.png'%}" alt="Appointments" />
                            <h3>Book Loan</h3>
                        </div>
                    </a>
                </div>

                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12">
                    <a href="/account/fund_transfer">
                        <div class="hospital-tiles blue">
                            <img src="{% static 'img/hospital/trans.png'%}" alt="Patients" />
                            <h3>Transfer</h3>
                        </div>
                    </a>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12">
                    <a href="#">
                        <div class="hospital-tiles red">
                            <img src="{% static 'img/hospital/stat.png'%}" alt="Operations" />
                            <h3>Statement</h3>
                        </div>
                    </a>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12">
                    <a href="#">
                        <div class="hospital-tiles yellow">
                            <img src="{% static 'img/hospital/repay.png'%}" alt="Doctors" />
                            <h3>Repay Loan</h3>
                        </div>
                    </a>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12">
                    <a href="/account/history">
                        <div class="hospital-tiles secondary">
                            <img src="{% static 'img/hospital/his.png'%}" alt="Staff" />
                            <h3>History</h3>
                        </div>
                    </a>
                </div>
                <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 col-12">
                    <a href="/account/acct_list">
                        <div class="hospital-tiles green">
                            <img src="{% static 'img/hospital/acc.png'%}" alt="Earnings" />
                            <h3>Account</h3>
                        </div>
                    </a>
                </div>
            </div>
            <!-- Row end -->

            <!-- Row start -->
            <div class="row gutters">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Loan Repayment History</div>
                        </div>
                        <div class="card-body">
                            <div id="hospital-line-column-graph"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-xs-12">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Transaction History</div>
                        </div>
                        <div class="card-body">
                            <div id="hospital-line-area-graph"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Row end -->

            <!-- Row start -->
            <!-- Row end -->

            <!-- Row start -->
            <!-- Row end -->

        </div>
        <!-- Content wrapper end -->


    </div>
    <!-- *************
        ************ Main container end *************
    ************* -->

    {% include 'footer.html' %}

</div>
{% include 'foot.html' %}

</body>
</html>