<div id="loading-wrapper">
    <div class='spinner-wrapper'>
        <div class='spinner'>
            <div class='inner'></div>
        </div>
        <div class='spinner'>
            <div class='inner'></div>
        </div>
        <div class='spinner'>
            <div class='inner'></div>
        </div>
        <div class='spinner'>
            <div class='inner'></div>
        </div>
        <div class='spinner'>
            <div class='inner'></div>
        </div>
        <div class='spinner'>
            <div class='inner'></div>
        </div>
    </div>
</div>